$primary: #F47920;
$secondary: #737373;
$background-light: #EAE0D5;
$background-extra-light: #F7F3EE;
$background-light-40: rgba(234, 224, 213, 0.4); // 40% opacity
$background-menu: #FAF7F4;
$text-font-primary: #3F3F3F; 
$border-gray: #ABABAB; 
$text-font-red: #CC0A12;
